@model WebSpectra.Decoders.IDecoder
@{
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}
<div id="div-top">
    <div id="div-modeselection">
        <label id="label-mode">Mode:</label>
        <select id="ddlModes" name="ddlModes" data-action="@Url.Action("SetMode")" data-method="post" >
            @foreach (var lMode in Model.SupportedModes)
            {
                var lSelected = Model.CurrentMode.Equals(lMode);
                <option value="@lMode.Name" selected="@lSelected">@lMode.Name</option>
            }
        </select>
    </div>

    <label id="labelConfidence">Confidence 0%</label>
</div>

<div id="div-fft">
    <canvas id="canvas-fft" width="2048" height="300"></canvas>
</div>
<div id="div-bottom">
    <textarea id="textarea-decoderOutput" readonly></textarea>
    <div id="div-modeParameters">
        @Html.Partial("_ModeParameters", Model.CurrentMode)
    </div>
</div>


